USER=<MySQL username>
PASSWORD=<MySQL password>
HOST=<MySQL host>
DB=<MySQL db>
JWT_SECRET=<A strong secret, to sign jwt tokens>
AWS_KEY_ID=<AWS key id>
AWS_SECRET_KEY=<AWS key secret>
AWS_S3_BUCKET=<s3 bucket on which media files are uploaded>
MEDIA_BASE_URL=<base url or the s3 bucket or cloudfront cdn>